<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICustomerService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1252/CustomerService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICustomerService"
                contract="ICustomerService" name="WSHttpBinding_ICustomerService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>