<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="validation" type="Microsoft.Practices.EnterpriseLibrary.Validation.Configuration.ValidationSettings, Microsoft.Practices.EnterpriseLibrary.Validation"/>
  </configSections>
  <validation>
    <type defaultRuleset="Default" assemblyName="ValidationHOL.BusinessLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="ValidationHOL.BusinessLogic.Address">
      <ruleset name="Default">
        <properties>
          <property name="City">
            <validator type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.AndCompositeValidator, Microsoft.Practices.EnterpriseLibrary.Validation" name="And Composite Validator">
              <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="30" upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation" name="String Length Validator"/>
              <validator characterSet="sea" containsCharacter="All" negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ContainsCharactersValidator, Microsoft.Practices.EnterpriseLibrary.Validation" name="Contains Characters Validator"/>
            </validator>
          </property>
          <property name="State">
            <validator lowerBound="2" lowerBoundType="Inclusive" upperBound="2" upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation" name="String Length Validator"/>
          </property>
          <property name="StreetAddress">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="50" upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation" name="String Length Validator"/>
          </property>
          <property name="ZipCode">
            <validator pattern="^\d{5}$" options="None" patternResourceName="" patternResourceType="" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.RegexValidator, Microsoft.Practices.EnterpriseLibrary.Validation" name="Regex Validator"/>
          </property>
        </properties>
      </ruleset>
    </type>
    <type defaultRuleset="Default" assemblyName="ValidationHOL.BusinessLogic, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="ValidationHOL.BusinessLogic.Customer">
      <ruleset name="Default">
        <properties>
          <property name="Address">
            <validator targetRuleset="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.ObjectValidator, Microsoft.Practices.EnterpriseLibrary.Validation" name="Object Validator"/>
          </property>
          <property name="FirstName">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="25" upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation" name="String Length Validator"/>
          </property>
          <property name="LastName">
            <validator lowerBound="1" lowerBoundType="Inclusive" upperBound="25" upperBoundType="Inclusive" negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="Microsoft.Practices.EnterpriseLibrary.Validation.Validators.StringLengthValidator, Microsoft.Practices.EnterpriseLibrary.Validation" name="String Length Validator"/>
          </property>
          <property name="SSN">
            <validator ignoreHyphens="false" negated="false" messageTemplate="" messageTemplateResourceName="" messageTemplateResourceType="" tag="" type="ValidationHOL.CustomValidators.SSNValidator, ValidationHOL.CustomValidators, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="SSN Validator"/>
          </property>
        </properties>
      </ruleset>
    </type>
  </validation>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
