<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="User:Alice" value="Teller"/>
    <add key="User:Bob" value="Assistant"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="interception" switchValue="All">
        <listeners>
          <add name="interception"/>
        </listeners>
      </source>
      <source name="interception-updates" switchValue="All">
        <listeners>
          <add name="interception-updates"/>
        </listeners>
      </source>
      <source name="interception-queries" switchValue="All">
        <listeners>
          <add name="interception-queries"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="interception" initializeData="interception.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <add name="interception-updates" initializeData="interception-updates.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <add name="interception-queries" initializeData="interception-queries.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>
