<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" requirePermission="true"/>
  </configSections>
  <connectionStrings>
    <add name="QuickStarts Instance" connectionString="Database=EntLibQuickStarts;Server=(localDB)\v11.0;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <dataConfiguration defaultDatabase="QuickStarts Instance"/>
</configuration>