<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <appSettings>
    <add key="User:Alice" value="Teller"/>
    <add key="User:Bob" value="Assistant"/>
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="interception" switchValue="All">
        <listeners>
          <add name="interception"/>
        </listeners>
      </source>
      <source name="interception-updates" switchValue="All">
        <listeners>
          <add name="interception-updates"/>
        </listeners>
      </source>
      <source name="interception-queries" switchValue="All">
        <listeners>
          <add name="interception-queries"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="interception" initializeData="interception.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <add name="interception-updates" initializeData="interception-updates.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <add name="interception-queries" initializeData="interception-queries.log" traceOutputOptions="DateTime" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sharedListeners>
  </system.diagnostics>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="InterceptionHOL"/>
    <namespace name="InterceptionHOL"/>
    <namespace name="InterceptionHOL.BusinessLogic"/>
    <namespace name="System.Diagnostics"/>

    <sectionExtension type="Microsoft.Practices.Unity.InterceptionExtension.Configuration.InterceptionConfigurationExtension, Microsoft.Practices.Unity.Interception.Configuration"/>

    <container>
      <extension type="Interception"/>

      <register type="IBankAccount" mapTo="BankAccount">
        <interceptor type="InterfaceInterceptor"/>
        <interceptionBehavior type="TraceBehavior"/>
        <interceptionBehavior type="AmountValidationBehavior"/>
      </register>

      <register type="TraceBehavior">
        <constructor>
          <param name="source" dependencyName="interception"/>
        </constructor>
      </register>

      <register type="TraceSource" name="interception">
        <constructor>
          <param name="name" value="interception"/>
        </constructor>
      </register>

      <register type="AmountValidationBehavior">
        <constructor>
          <param name="maxAmount" value="125"/>
        </constructor>
      </register>
    </container>
  </unity>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
