<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbZprboxtmU22Z8nhe1nc6gQAAAACAAAAAAAQZgAAAAEAACAAAABaE9F0zsnOAtXbEz0/BhqTLvEi1VcmfRp571QfgtxgxAAAAAAOgAAAAAIAACAAAABONn2L9mqTItzebyCdv2OAr1c8e8T0OZYTAqA0z4psmIAAAAAGK4FvgAOxD7c/fEy+WpzKS9TYZk9F76uxmo9/PpD/TFLttmfG5gFgyPSoU6r308GERjwprFeu1Lq36jLL3CQzy8x5yO2VwPZHjOblv9nbLjn+mcqYo+JL0GH7TtMhSkSjnRMqBYYlDeYnUwwNJ8fbAZL6YCCQauGjYyVHpx0ISkAAAAAEc/ITMccR8qL2CCTF/6iv8+WfunsgZR+SMkBJnaGjydJEcX153BhjnraQXe4jNcqJTlsx0Sfgo/SL2AsApcxP</CipherValue>
      </CipherData>
    </EncryptedData>
  </dataConfiguration>
  <connectionStrings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAbZprboxtmU22Z8nhe1nc6gQAAAACAAAAAAAQZgAAAAEAACAAAADpv6Y5eC8GxH8EDcY/tc6GmG62NNs1IKDEi3GxQDi1PQAAAAAOgAAAAAIAACAAAACNJrKskUuG+RfZfjep7t/BnZF71185tRU/mFW3tmBUVbABAADPUrYlJWe75aZSM9vEJN1WVyUrpapvM2uHMiQYZqr2LLpZ1hzPD9/swdWRPfDoBWto5jxWx3GKUFS0VzfNgIKn+eynU7BKy+vIeDV/+b+KQiK7LrQ1eajaIzvTnFa/iaFIVu9btheo/0IcnKFv8p5AKhEHBhptrCOSXj2tsWcszwcmy7HH1P9ovDLD1p/9u9tmHaz9rekFYeTU1OxflZsvccgvckvVGd+yRqp9gPDIlPJdNDSRko32X1jPoS4qiAn1oeTLJnPGYdSTqKccirToOFy+PEL5m5oQ2giEY7Nj+Uj/3X6o1MPosPl0O3VbSiyLzlfQZ4Cs5NzTBr3E9QV7RhxAykPft9iFv2gJF+tCzWd70g6jgu/6drVAxxuMnztQUVOL5kkThivFkJx920L4W/S8Rn+gXT73xMdo/55YJtHF2WFos11mrmyug8gCE6JI8kXUHb+abx5NfJNeEvCBJv8k/NfDkfdlYk0w3FXnauoj3Q8ydd4hCg2WzPrcsSjuZglczvZpFEseJJc2Amx7ytRf8haiQGNqryR/REAkL49S3QX9VvBt9OjCR9fZvtJAAAAAT2nwf8Mv2yHWSh4u5MGdcHLgIwiSUXiky/JcLS1HC5O2zKm93EFxLPkCLGYI7QKHojywAgudLHEpvoqQENy6GA==</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
